.card-container img{
    width: 15vw;
    height:40vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    height: 120vh;
    overflow: auto;
    text-align: center;
    align-items: flex-end;
}