.movie-content{
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #2b2a2a;
}

.movie-content h2{
    width: 12rem;
    color: white;
    height: 4rem;
    margin: 2rem 0;
    font-weight: 200;
}

.movie-content:hover {
    background-color: #777777;
}

.movie-content:active{
    background-color: lightgrey;
}
