

.movie-container img{
    width: 15vw;
    height:40vh;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    overflow: auto;
    text-align: center;
    align-items: flex-end;
}