.movie-content{
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(87, 85, 85);
}

.movie-content h2{
    width: 12rem;
    color: white;
    height: 4rem;
    margin: 2rem 0;
}

.movie-content:hover {
    background-color: lightgrey;
}

.movie-content:active{
    background-color: lightgrey;
}
