.category-button{
    background-color: gray;
    padding: 5px;
    border: 1px solid lightgray;
    width: 20vw;
    font-size:x-large;
	font-family: 'Inder', sans-serif;
}
.category-button:hover{
    background-color: lightgray;
}

.category-button:active{
    background-color: lightgray;
}

.button-container{
    display: flex;
    flex-direction: column;
    margin-right: 1.5vw;
    width: 100%;
    height: inherit;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}