.category-button{
    background-color: gray;
    padding: 5px;
    border: 1px solid lightgray;
    width: 20vw;
    font-size:x-large;
}

.button-container{
    display: flex;
    flex-direction: column;
    margin-right: 1.5vw;
}