*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inder&family=Indie+Flower&family=Share+Tech&display=swap');
body {
	font-family: 'Inder', sans-serif;
}
