.goBackButton {
	z-index: 5;
	border-radius: 20px;
	border: none;
	box-shadow: 2px 5px 5px 5px #00000075;
	background-color: #4b4747;
	color: #ffffff;
	font-size: 1.25rem;
	width: 21.5625rem;
	height: 4rem;
	position: absolute;
	top: 8rem;
	left: 1.25rem;
	transition: all 0.2s;
}

.goBackButton:hover {
	box-shadow: 2px 1px 1px 1px #00000075;
	top: 8.25rem;
}

.details_poster_title_overview_flex_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.details_poster {
	width: 20.375rem;
	margin: 3rem auto;
}

.details_movie_flex_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 2rem;
}

.details_title {
	padding-top: 5rem;
	margin: 0 auto;
	font-weight: 300;
	font-size: 3.5rem;
	width: 20rem;
	color: #d9d9d9;
}
.details_ratings_container {
	margin-top: 5rem;
	display: flex;
}

.details_ratings_number {
	border-radius: 50%;
	width: 7.75rem;
	height: 7.75rem;
	background-color: #d9d9d9;
}

.details_ratings_actual_number {
	position: relative;
	top: 35%;
	left: 35%;
	font-size: 1.8rem;
}

.details_ratings {
	padding-top: 3rem;
	padding-left: 1rem;
	font-size: 1.5rem;
	color: #d9d9d9;
}
.details_release_date_container {
	margin: 5rem auto;
	color: #d9d9d9;
}

.details_overview {
	width: 30%;
	margin: 2rem auto;
	line-height: 2;
	font-size: 1.2rem;
	background-color: #d9d9d9;
	padding: 1rem;
	border-radius: 10px;
}

.details_overview_title {
	font-size: 2rem;
	line-height: 2;
}

@media screen and (max-width: 1100px) {
	.details_overview {
		width: 75%;
	}
	.goBackButton {
		position: absolute;
		top: 8.5rem;
		margin: 0 auto;
		width: 90%;
	}
	.goBackButton:hover {
		top: 8.75rem;
	}
}
